<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="History of Worldwide Aircraft Development">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag controller_name, media: 'all' if Rails.application.assets.find_asset("#{controller_name}.css") %>
  <%= yield :head %>
  <%= javascript_include_tag 'application', defer: :defer %>
  <%= javascript_include_tag controller_name, defer: :defer if Rails.application.assets.find_asset("#{controller_name}.js") %>
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <%= render partial: 'shared/footer' %>
</body>
</html>
